:root {
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --btn-color: #2196f3;
  --btn-active: #188ce8;
  --btn-background: #f5f4fa;
  --icon-social-logo: #afb1b8;

  --gap: 30px;
}

@keyframes modal {
  0% {
    background-color: #bbdcf693;
  }
  100% {
    background-color: var(--header-color);
  }
}

body {
  font-family: Roboto, sans-serif;
  background: var(--header-color);
  letter-spacing: 0.03em;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  margin: -1px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.cursor {
  cursor: pointer;
}
.section {
  padding: 94px 0;
}
.main-title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}
.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--header-color);

  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background: var(--btn-active);
}
/* -----header----- */

.header {
  background: var(--header-color);
  border: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  justify-content: center;
}
.header-logo {
  display: flex;
  justify-content: center;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo,
.footer-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
}
.logo-blue {
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-color);
}
.header-list {
  display: flex;
  justify-content: center;
}
.header-item {
  margin-right: 50px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-item:last-child {
  margin-right: 0;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.line-current {
  position: relative;
  color: var(--accent-color);
}
.line-current::after {
  position: absolute;
  left: 0;
  bottom: 3px;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}
.header-mail-tel {
  display: flex;
  justify-content: center;
}
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail:hover .mail-icon,
.header-mail:focus .mail-icon,
.header-tel:hover .tel-icon,
.header-tel:focus .tel-icon {
  color: var(--accent-color);
}

/* -----main------ */

.hero-container {
  max-width: 1600px;
  padding: 200px 0;
}
.hero {
  background-color: #2f303a;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);

  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  margin-bottom: var(--gap);
}
.hero-btn {
  padding: 10px 32px;
}

/* section 1 */
.main-section-one {
  padding-bottom: 0;
}
.main-list {
  display: flex;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.main-item {
  flex-basis: calc(100% / 4 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);
}
.main-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: var(--gap);
}
.main-hang-icon {
  width: 70px;
  height: 70px;
}
.main-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);

  margin-right: 10px;
  margin-bottom: 10px;
}
.main-title-about {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}

/* section 2 */
.list-two {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}

.main-item-two {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);
}

.main-img-app-wrap {
  position: relative;
}
.main-app {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);

  background: rgba(47, 48, 58, 0.8);
}
/* section team */
.main-section-team {
  background: #f5f4fa;
}
.list-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}
.main-team-item {
  background: var(--header-color);

  flex-basis: calc(100% / 4 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);

  width: 270px;
  left: 515px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);

  padding-bottom: 10px;
}
.main-team-member-prof {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);

  margin-bottom: 16px;
}
.info {
  padding: var(--gap) 0;
}
.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}
.team-social-link {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-social-logo);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--accent-color);
  color: var(--header-color);
}

/* section 3 */
.main-three-list {
  display: flex;
  justify-content: center;

  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}
.main-three-item {
  flex-basis: calc(100% / 6 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);
}
.main-three-link {
  width: 170px;
  height: 92px;
  background-color: inherit;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-social-logo);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-three-link:hover,
.main-three-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.main-three-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/* !------maine portfolio-----! */

/* section nav */
.main-section-nav {
  padding-bottom: 50px;
}
.main-list-nav {
  display: flex;
  justify-content: center;
}
.main-item-nav {
  margin-right: 8px;
}
.main-item-nav:last-child {
  margin-right: 0;
}
.main-btn {
  background: var(--btn-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--title-color);

  padding: 6px 22px;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn:hover,
.main-btn:focus {
  background: var(--btn-color);
  color: var(--header-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*  section project */
.main-section-project {
  padding-top: 0;
}
.main-list-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}
.main-item-project {
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  flex-basis: calc(100% / 3 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);
}
.main-item-project:hover,
.main-item-project:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-item-project:hover .img-text {
  transform: translateY(0);
}
.img-project-wrap {
  position: relative;
  overflow: hidden;
}
.img-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--header-color);
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.img-text::-webkit-scrollbar {
  width: 5px;
}
.img-text::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.img-text::-webkit-scrollbar-thumb {
  background-color: #bbdcf693;
  outline: 1px solid var(--header-color);
  border-radius: 5px;
}
.main-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);

  padding-bottom: 4px;
}
.main-project {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
.project-info {
  padding: 24px 20px;
}

/* -----footer------ */

.footer {
  background: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-connect {
  display: flex;
}
.footer-adress {
  margin-right: 70px;
}
.footer-logo {
  margin-bottom: 20px;
  display: block;
}
.logo-white {
  color: var(--header-color);
}
.footer-item {
  font-style: normal;
}
.footer-link-map {
  font-size: 14px;
  line-height: 1.71;
  color: var(--header-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-mail,
.footer-link-tel {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-map:hover,
.footer-link-mail:hover,
.footer-link-tel:hover,
.footer-link-map:focus,
.footer-link-mail:focus,
.footer-link-tel:focus {
  color: var(--accent-color);
}

/* footer social link */
.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--header-color);

  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  margin-right: 93px;
}
.footer-social-link {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--header-color);
  background: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
  color: var(--header-color);
}
.footer-social-item + .footer-social-item {
  margin-left: 10px;
}
.footer-input-wrap {
  display: inline-flex;
}
.footer-form-imput {
  width: 358px;
  height: 50px;
  background: var(--footer-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  margin-right: 12px;
  padding-left: 16px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-imput:focus {
  border-color: var(--accent-color);
}
.footer-btn {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
}
.footer-send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* !---------modal--------!*/

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  transition: opacity 1000ms, visibility 1000ms;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: scale(0.1) rotate(180deg);
  animation-name: modal;
  animation-duration: 5000ms;
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms;

  width: 528px;
  min-height: 581px;
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--header-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close:focus,
.modal-close:hover {
  fill: var(--accent-color);
}
.modal-icon-close {
  width: 11px;
  height: 11px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}
.modal-user,
.modal-textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);

  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.form-imput {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  margin-bottom: 10px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-imput::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-imput:focus {
  border-color: var(--accent-color);
}
.form-imput:focus + .imput-icon {
  fill: var(--accent-color);
}
.imput-icon {
  position: absolute;
  left: 12px;
  top: 11px;

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);

  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
}

.text-checkbox::before {
  content: '';
  width: 16px;
  height: 15px;

  border: 2px solid var(--title-color);
  border-radius: 2px;

  /* margin-right: 7px; */
}
.policy-check:checked + .text-checkbox::before {
  border: none;
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.modal-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
.modal-btn {
  padding: 10px 56px;

  display: block;
  margin: 0 auto;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
